mysql-connector-java-5.1.39/CHANGES
mysql-connector-java-5.1.39/COPYING
mysql-connector-java-5.1.39/README
mysql-connector-java-5.1.39/README.txt
mysql-connector-java-5.1.39/build.xml
mysql-connector-java-5.1.39/docs/
mysql-connector-java-5.1.39/src/
sqljdbc_6.0/enu/auth/
sqljdbc_6.0/enu/install.txt
sqljdbc_6.0/enu/license.txt
sqljdbc_6.0/enu/release.txt
sqljdbc_6.0/enu/samples/
sqljdbc_6.0/enu/xa/
sqljdbc_6.0/enu/sqljdbc.jar
sqljdbc_6.0/enu/sqljdbc4.jar
sqljdbc_6.0/enu/sqljdbc41.jar
