'atom-workspace':
  'ctrl-k ctrl-k': 'change-case:param'
  'ctrl-k ctrl-i': 'remove-whitespace:remove'
  'ctrl-k ctrl-o': 'change-case:sentence'
  'ctrl-k ctrl-p': 'change-case:pascal'
  'ctrl-k ctrl-c': 'change-case:camel'
  'ctrl-k ctrl-s': 'change-case:snake'
  'ctrl-k ctrl-h': 'remove-whitespace:replace'
  'ctrl-k ctrl-j': 'remove-whitespace:shrink'
  'ctrl-alt-shift-w': 'activate-power-mode:toggle'
